[submodule "[Week04]Rbtree_Lab"]
	path = archive/[Week04]Rbtree_Lab
	url = https://github.com/Arklimits/rbtree-lab
	branch = main
[submodule "[Week05]Malloc_Lab"]
	path = archive/[Week05]Malloc_Lab
	url = https://github.com/Arklimits/malloc-lab
	branch = main
[submodule "[Week06]Webproxy_Lab"]
	path = archive/[Week06]Webproxy_Lab
	url = https://github.com/Arklimits/webproxy-lab
    branch = main
[submodule "[Week00]Mini_Project"]
	path = archive/[Week00]Mini_Project
	url = https://github.com/Arklimits/swjungle-junglerroute
[submodule "[Week07]Pintos_Lab"]
	path = archive/[Week07]Pintos_Lab
	url = https://github.com/Arklimits/Pintos-KAIST
[submodule "[Week13]Spring_Prac"]
	path = archive/[Week13]Spring_Prac
	url = https://github.com/Arklimits/swjungle-spring
