<!DOCTYPE html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">

			  <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>SW사관학교 정글 | 간단메모</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Noto Sans Korean Regular", sans-serif;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }
        </style>
        <script>
            $(document).ready(function () {
                showMemo();
            });

            function modOpen(id) {
                $(`#card-org-${id}`).hide();
                $(`#card-mod-${id}`).show();

                $(`#btn-mod-${id}`).hide();
                $(`#btn-del-${id}`).hide();
                $(`#btn-sav-${id}`).show();
            }
            function showMemo() {
                $.ajax({
                    type: "GET",
                    url: "/api/get",
                    data: {},
                    success: function(response){
                        let memos = response["memos"];
                        for (let i = 0; i < memos.length; i++) {
                            makeCard(i, memos[i]["title"], memos[i]["text"])
                        }
                    }
                })
            }
            function postMemo() {
                // 1. 유저가 입력한 데이터를 #post-url과 #post-comment에서 가져오기
                let title = $("#input-title").val();
                let text = $("#input-text").val();

                // 2. memo에 POST 방식으로 메모 생성 요청하기
                $.ajax({
                    type: "POST", // POST 방식으로 요청하겠다.
                    url: "/api/post", // /memo라는 url에 요청하겠다.
                    data: { input_title: title, input_text: text}, // 데이터를 주는 방법
                    success: function(response){ // 성공하면
                        if (response["result"] == "success") {
                            alert("메모 성공!");
                            window.location.reload();
                        } else {
                            alert("메모 오류!")
                        }
                    }
                })
            }

            function modifyMemo(id) {
                let org_title = $(`#org-title-${id}`).text();
                let org_text = $(`#org-text-${id}`).text();
                let mod_title = $(`#mod-title-${id}`).val();
                let mod_text = $(`#mod-text-${id}`).val();

                // 2. memo에 POST 방식으로 메모 생성 요청하기
                $.ajax({
                    type: "PUT", // POST 방식으로 요청하겠다.
                    url: "/api/mod", // /memo라는 url에 요청하겠다.
                    data: { org_title: org_title, org_text: org_text, mod_title: mod_title, mod_text: mod_text}, // 데이터를 주는 방법
                    success: function(response){ // 성공하면
                        if (response["result"] == "success") {
                            alert("수정 성공!");
                            // 3. 성공 시 리스트 새로고침하기
                            window.location.reload();
                        } else {
                            alert("삭제 오류!")
                        }
                    }
                })
            }

            function deleteMemo(id) {
                let del_title = $(`#org-title-${id}`).text();
                let del_text = $(`#org-text-${id}`).text();

                $.ajax({
                    type: "DELETE",
                    url: "/api/del",
                    data: { del_title: del_title, del_text: del_text},
                    success: function(response) {
                        if (response["result"] == "success"){
                            alert("삭제 성공!");
                            window.location.reload();
                        }
                        else {
                            alert("삭제 오류!")
                        }
                    }
                })
            }
            function makeCard(id, title, text) {
                let temp_html =
                    `<div class="card">
                        <div id="card-org-${id}" class="card-body">
                            <h3 id="org-title-${id}" class="card-title">${title}</h3>
                            <h5 id="org-text-${id}" class="card-text">${text}</h5>
                        </div>
                        <div id="card-mod-${id}" class="card-body" style="display: none">
                            <input id="mod-title-${id}" class="mod-title" value="${title}" style="width: 250px";">
                            <p></p>
                            <textarea id="mod-text-${id}" class="mod-text" rows="2" style="width: 250px">${text}</textarea>
                        </div>
                        <div class="card-body">
                            <button id="btn-mod-${id}" onclick="modOpen(${id})" class="btn btn-info">수정</button>
                            <button id="btn-del-${id}" onclick="deleteMemo(${id})" class="btn btn-danger">삭제</button>
                            <button id="btn-sav-${id}" onclick="modifyMemo(${id})" type="submit" class="btn btn-success" style="display:none">저장</button>
                        </div>
                    </div>`;
                $("#cards-list").append(temp_html);
            }

        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4">나홀로메모장 <span class="badge bg-secondary" style="color: white">ver2.0</span></h1>

                <div class="form-group">
                    <input id="input-title" class="form-control" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <textarea id="input-text" class="form-control" rows="3" placeholder="내용을 입력하세요"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" onclick="postMemo()">저장하기</button>
            </div>

            <div id="cards-list" class="card-columns">

            </div>
        </div>
        </div>
    </body>

</html>